<div class="row-fluid">
	<label for="workout-type-select">Workout Type: </label>
	<select 
		id="workout-type-select"
		ng-model="selectedWorkoutType">
		<option 
			value="{{$index}}"
			ng-repeat="workoutType in workoutTypes"
			ng-selected="selectedWorkoutType == $index">{{workoutType.label}}</option>

	</select>
</div>
<div class="row-fluid">
	<h4>
		Exercise Cloud
	</h4>
</div>
<div id="exercise-buttons">
	<div class="row-fluid" ng-repeat="exercise in workoutTypes[selectedWorkoutType].exercises" >
		<a 
			class="btn span12"
			ng-click="startExercise(exercise)">{{exercise}}</a>
	</div>
	<div class="row-fluid">
		<a 
			class="btn span12"
			ng-click="startExercise('Unnamed')"><i class="icon-plus"></i></a>
	</div>
</div>

<div class="row-fluid">
	<a class="btn btn-primary span12" ng-click="finishWorkout()">Finish Workout</a>
</div>